body {
    margin: 0px;
    background-color: oklch(28.6% 0.016 107.4);
    font-family: sans-serif;
    width: 50%;
    margin: 0 auto;
}



header {
    padding: 10px;
    background-color: oklch(22.8% 0.013 107.4);
    border: solid 1px oklch(98.8% 0.003 106.5);
    border-radius: 6px;

}



h2 {
    color: oklch(98.8% 0.003 106.5);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#Conversor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-top: 50px;
}


#result {
    color: oklch(98.8% 0.003 106.5);
    font-size: 40px;
}


#ResultBox {
    border: solid 1px oklch(98.8% 0.003 106.5);
    background-color: oklch(22.8% 0.013 107.4);
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonConteiner {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;

}


.btn {

    background-color: oklch(94.1% 0.03 12.58);
    border-radius: 6px;
    border: none;
    font-size: 20px;
    height: 50px;
    width: 120px;
    transition: transform 0.2s ease;
}

.active {

    transform: scale(0.90);    
    background-color: bisque;
}

.blocked {

    background-color: rgb(82, 82, 82);
}

#writeTemp{
    height: 100%;
    font-size: 40px;
    appearance: textfield;
    border-radius: 6px;
    text-align: center;
    background-color: oklch(22.8% 0.013 107.4);
    color: oklch(98.8% 0.003 106.5);
    display: block;
    border: solid 1px;
    width: 100%;
    margin: -1px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

